.spaces-component {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #DDD;
}
.spaces-component .spaces-renderer {
	width: 100%;
	height: 100%;
	background-color: #99DDFF;
}
.spaces-component .vr-button {
	display: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.spaces-component .touch-motion-component {
	display: none; /* hidden until the first touch event comes in */
	position: absolute;
	bottom: 10px;
	left: 50%;
}

.touch-motion-component {
	width: 100px;
	height: 100px;
	transform: translate(-50%, 0);
}
.touch-motion-component canvas {
	opacity: 0.5;
	width: 100px;
	height: 100px;
}

.inventory-page-component .top-row {
	text-align: center;
	margin-bottom: 20px;
}
.inventory-page-component .button-group button {
	font-size: 16px;
}

.inventory-page-component .detail-component h3 {
	font-weight: 300;
	font-size: 16px;
}
.inventory-page-component .detail-component input {
	margin-bottom: 20px;
	width: 250px;
	padding: 5px 3px;
}
.inventory-page-component .detail-component .delete-button {
	position: absolute;
	top: 15px;
	right: 15px;
	color: red;
}

.template-data-list-component {
	margin-top: 20px;
}

.template-data-item-component {
	font-size: 12px;
	margin-bottom: 6px;
}
.template-data-item-component span {
	padding-right: 10px;
}
.template-data-item-component button {
	visibility: hidden;
	color: red;
}
.template-data-item-component:hover button {
	visibility: visible;
}

.scene-graph-node .scene-node-setting-component input {
	display: inline-block;
	width: 40%;
}

.scene-graph-node .transform, .scene-graph-node .settings {
	margin-top: 15px;
}
.scene-graph-node > h3 {
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 10px;
}
.scene-graph-node .children {
	padding-left: 20px;
	padding-top: 20px;
}
.scene-graph-node div.vector-editor-component input {
	width: 5em;
}

.metadataEl {
	margin-left: 20px;	
}
.transform > h4 {
	font-weight: 300;
	font-size: 12px;
}
