.spaces-component {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #DDD;
}
.space-menu-component {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.space-menu-component h2 {
	text-align: center;
	margin-bottom: 15px;
	color: #666;
}
.space-item-component {
	padding: 10px;
	background-color: white;
	cursor: pointer;
	min-width: 15em;
	border: solid 1px #DDD;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 15px;
	color: #666;
}
.space-item-component:hover {
	background-color: #EFEFEF;
}
.spaces-component .spaces-renderer {
	width: 100%;
	height: 100%;
	background-color: #99DDFF;
}
.spaces-component .vr-button {
	display: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.spaces-component .touch-motion-component {
	display: none; /* hidden until the first touch event comes in */
	position: absolute;
	bottom: 10px;
	left: 50%;
}

.touch-motion-component {
	width: 100px;
	height: 100px;
	transform: translate(-50%, 0);
}
.touch-motion-component canvas {
	opacity: 0.5;
	width: 100px;
	height: 100px;
}

.account-page-component {
	position: relative;
}
.account-page-component .logout-button {
	float: right;
}

.user-avatar-selection-component h3 {
	margin-bottom: 5px;
}
.user-avatar-selection-component .avatar-name {
	margin-bottom: 5px;
}
.user-avatar-selection-component a {
	cursor: pointer;
	color: #6B6BB9;
}
.user-avatar-selection-component .avatar-name-item-component {
	margin-bottom: 10px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
}
.avatar-name-item-component {
	padding: 5px 5px 2px 5px;
	border: solid 1px #EFEFEF;
}

#page-component {
	position: relative;
}
#page-component .audio-vizualizer {
	position: absolute;
	opacity: 0.5;
	left: 10px;
	bottom: 10px;
}
.audio-vizualizer canvas {
	width: 100px;
	height: 100px;
}