
.inventory-page-component {
	margin-bottom: 30px;
	font-weight: 300;
}

.inventory-page-component .top-row {
	text-align: center;
	margin-bottom: 20px;
}
.inventory-page-component .button-group button {
	font-size: 16px;
}

.inventory-page-component .detail-component h3 {
	font-weight: 300;
	font-size: 16px;
}
.inventory-page-component .detail-component .delete-button {
	position: absolute;
	top: 15px;
	right: 15px;
	color: red;
}
.inventory-page-component .detail-component input[type=text] {
	margin-bottom: 10px;
	padding: 5px 3px;
}


.template-detail-component input[type=text] {
	width: 250px;
}

.template-data-list-component {
	margin-top: 20px;
}

.template-data-item-component {
	font-size: 12px;
	margin-bottom: 6px;
}
.template-data-item-component span {
	padding-right: 10px;
}
.template-data-item-component button {
	visibility: hidden;
	color: red;
}
.template-data-item-component:hover button {
	visibility: visible;
}

.scene-node-setting-component input[type=text] {
	display: inline-block;
	width: 10em;
}

.scene-graph-node {
	position: relative;
}
.scene-graph-node .headline {
	border: solid 1px white;
	padding: 10px 30px 10px 10px;
}
.scene-graph-node > .headline .small-button {
	display: none;
}
.scene-graph-node > .headline:hover .small-button {
	position: absolute;
	top: 10px;
	right: 5px;
	display: inline-block;
}
.scene-graph-node.selected > .headline, .scene-graph-node > .headline:hover {
	border: solid 1px #EFEFEF;
}
.scene-graph-node .transform, .scene-graph-node .settings {
	margin-top: 15px;
}
.scene-graph-node > h3 {
	font-weight: 300;
	font-size: 16px;
}
.scene-graph-node .children {
	padding-left: 20px;
	padding-top: 20px;
}

.scene-graph-node-properties-component.root-node .delete-node-button {
	display: none;
}

div.vector-editor-component input[type=text] {
	width: 5em;
	margin-right: 5px;
}

.scene-graph-node-template-component a {
	cursor: pointer;
	color: #6B6BB9;
}
.scene-graph-node-template-component h4 {
	margin-bottom: 10px;
}
.scene-graph-node-template-component button {
	color: #B96B6B;
	margin-left: 15px;
}

.space-detail-component .headline-row {
	margin-bottom: 10px;
}
.space-detail-component .headline-row input[type=text] {
	font-size: 26px;
}
.space-detail-component .right-col {
	padding-left: 30px;
}

.scene-graph-node-property-component {
	border: solid 1px #EFEFEF;
	padding: 15px;	
	margin-bottom: 20px;
}

.scene-graph-node-settings-component > .small-button {
	float: right;
	color: red;
}

.scene-graph-node-property-component > h3 {
	margin-bottom: 10px;
}

.scene-graph-node-positioning-component > h4 {
	font-size: 16px;
	font-weight: 300;
}

.scene-graph-node-lighting-component .type-group {
	margin-bottom: 20px;
}
.scene-graph-node-lighting-component .type-group input {
	margin-left: 5px;
	margin-right: 25px;
}
.scene-graph-node-lighting-component .scene-node-setting-component h3 {
	display: none;
}

.template-picker-component .be-collection-component {
	max-height: 10em;
	overflow: auto;
}
.template-picker-item-component {
	display: inline-block;
	cursor: pointer;
	border: solid 1px #EFEFEF;
	padding: 5px;
	margin: 0 5px 5px 0;
}
.template-picker-item-component:hover {
	border: solid 1px #DDDDDD;
	background-color: #EFEFEF;
}
